<div class="inner">
  <div class="cta">
    <h3 class="cta__title">Ready to start wiping out waste?</h3>
    <app-button
      [label]="'CHOOSE YOUR VESSEL COLOR'"
      [style]="'outline'"
      [icon]="'arrow-green'"
    />
  </div>
  <div class="dispensers">
    <div class="dispensers__dispenser" *ngFor="let dispenser of dispensers">
      <div class="dispensers__dispenser__content">
        <h5 class="dispensers__dispenser__content__title">
          {{ dispenser.title }}
        </h5>
        <p class="dispensers__dispenser__content__caption caption">
          {{ dispenser.caption }}
        </p>
      </div>
      <img
        loading="lazy"
        class="dispensers__dispenser__img"
        src="assets/dispensers/dispenser_{{ dispenser.color }}.png"
        alt="{{ dispenser.color }} biom dispenser"
      />
    </div>
  </div>
</div>
