<div class="cta">
  <h3 class="cta__title">Ready to start wiping out waste?</h3>
</div>
<div class="dispensers">
  <div class="dispensers__dispenser" *ngFor="let dispenser of dispensers">
    <div class="dispensers__dispenser__content">
      <h5 class="dispensers__dispenser__content__title">
        {{ dispenser.title }}
      </h5>
      <p class="dispensers__dispenser__content__caption caption">
        {{ dispenser.caption }}
      </p>
    </div>
    <img
      class="dispensers__dispenser__img"
      src="assets/dispensers/dispenser_{{ dispenser.color }}.png"
      alt="{{ dispenser.color }} biom dispenser"
    />
  </div>
</div>
