<div class="scroll__wrap">
  <div class="scroll__wrap__outer" #container>
    <div class="scroll__content">
      <p class="caption">WHERE YOU NEED IT,</p>
      <h2 class="scroll__content__title">
        when you <br />
        need it.
      </h2>
    </div>
    <div class="scroll__wrap__inner">
      <div class="scroll__wrap__inner__item" *ngFor="let item of ITEMS" #item>
        <h4 class="scroll__wrap__inner__item__text">{{ item.text }}</h4>
        <img class="scroll__wrap__inner__item__img" [src]="item.img" />
      </div>
    </div>
  </div>
</div>
