<div class="section-video-inner">
  <div class="section-video__content">
    <span class="section-video__content__over">
      CLEANING OUR OCEANS WITH EVERY WIPE
    </span>
    <h2 class="section-video__content__title">
      Wipes have plastic in them. We don’t.
    </h2>
    <p class="body-md section-video__content__desc">
      We reinvented wipes to cut out all the bad stuff —like single-use plastic
      that hurts the environment, and toxic chemicals that don’t belong in our
      oceans (or in our homes).
    </p>
    <app-button [label]="'LEARN MORE'"></app-button>
  </div>

  <video
    width="250"
    #video
    class="section-video__bg-video"
    autoplay
    [muted]="true"
    loop
    playsinline
  >
    <source src="assets/waves.mp4" type="video/mp4" />
    Your browser does not support HTML video.
  </video>
</div>
