@font-face {
  font-family: Brandon;
  src: url(../assets/fonts/Brandon/Brandon_reg.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Brandon;
  src: url(../assets/fonts/Brandon/Brandon_med.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Brandon;
  src: url(../assets/fonts/Brandon/Brandon_bld.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Chronicle;
  src: url(../assets/fonts/Chronicle/Chronicle_bld.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Chronicle;
  src: url(../assets/fonts/Chronicle/Chronicle_blk.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}
