h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1.2;
  font-family: Chronicle, "Open Sans", "Helvetica Neue", sans-serif;

  @media (max-width: 680px) {
    line-height: 1.2 !important;
  }
}

body {
  font-family: Brandon, "Open Sans", "Helvetica Neue", sans-serif;
}

.body-sm {
  font-size: 1rem;
}

.body-md {
  font-size: 1.125rem;
}

.caption {
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
