::selection {
  color: #fff;
  background: var(--color-accent);
}

img {
  user-select: none;
}

body {
  @media (max-width: 900px) {
    &.nav--active {
      overflow: hidden;
    }
  }
}

.pin-spacer {
  width: 0 !important;
}
