:root {
  --color-light: #fffafa;
  --color-light-grey: #f2f2f2;
  --color-accent: #dda74a;
  --color-blue-dark: #002d33;
  --color-green-dark: #004a4c;
  --color-green-light: #dae5e5;
  --container-max: 1440px;
  --nav-height: 68px;
  --br: 14px;
  --transition-normal: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-enter: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-leave: cubic-bezier(0.4, 0, 0.2, 1);
}
