:host {
  display: flex;
  background-color: var(--color-light-grey);

  .section-testimonials__inner {
    width: 100%;
    max-width: var(--container-max);
    margin: 0 auto;
    padding: 90px 25px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-blue-dark);

    &__tabs {
      z-index: 2;
      position: relative;
      display: flex;
      gap: 12px;

      &__tab {
        display: block;
        width: 8px;
        height: 8px;
        border: 1px solid var(--color-green-dark);
        border-radius: 50%;
        cursor: pointer;

        &--active {
          background-color: var(--color-green-dark);
        }
      }
    }

    &__container {
      position: relative;

      width: 100%;
      max-width: 747px;
      text-align: center;
      transition: height 0.3s ease;
      color: var(--color-blue-dark);
      display: flex;
      align-items: center;
      justify-content: center;

      &__testimonial {
        padding: 26px 0 50px;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s var(--transition-normal);

        &--active {
          opacity: 1;
          z-index: 1;
        }

        &__text {
          font-size: 25px;
          line-height: 42px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
