<div class="section-testimonials__inner">
  <span class="caption section-testimonials__inner__caption"
    >WHAT PEOPLE ARE SAYING</span
  >
  <!-- CUSTOM TESTIMONIALS -->
  <div class="section-testimonials__inner__container" #container>
    <div
      class="section-testimonials__inner__container__testimonial"
      *ngFor="let testimonal of TESTIMONIALS"
      #testimonial
    >
      <h3 class="section-testimonials__inner__container__testimonial__text">
        “{{ testimonal.testimonial }}”
      </h3>
      <span class="caption">- {{ testimonal.author }}</span>
    </div>
  </div>
  <div class="section-testimonials__inner__tabs">
    <div
      class="section-testimonials__inner__tabs__tab"
      *ngFor="let testimonal of TESTIMONIALS; let i = index"
      (click)="setActiveTestimonal(i)"
      [ngClass]="{
        'section-testimonials__inner__tabs__tab--active': i === activeIndex
      }"
    ></div>
  </div>
</div>
