<div class="landing-content">
  <div class="landing-content__inner">
    <h1 class="landing-content__inner__title">So fresh. <br />So green.</h1>
    <p class="landing-content__inner__desc">
      We believe that a more eco-friendly everyday makes a happier you and me.
      We’re on a mission to put sustainability in reach with
      better-for-the-planet wipes that are easy, effective, and plastic-free.
    </p>
  </div>
  <img
    src="assets/Kitchen_3.png"
    alt="kitchen bg"
    class="landing-content__background"
  />
</div>
