:host {
  display: block;
  max-width: var(--container-max);
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  @media (max-width: 680px) {
    padding-top: 60px;
  }

  .section-aditional-info {
    &__inner {
      position: relative;
      padding: 0 70px 0;
      margin: 126px 0 164px;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 1000px) {
        padding: 0;
      }

      @media (max-width: 860px) {
        margin: 0;
      }

      @media (max-width: 680px) {
        padding-top: 300px;
        justify-content: unset;
      }

      &__prop {
        width: 496px;
        height: calc(100% - 20px + 36px);
        position: absolute;
        left: 70px;
        display: block;
        bottom: 0;
        top: -36px;
        object-fit: cover;

        @media (max-width: 1355px) {
          z-index: -2;
          height: 70%;
          width: 50%;
          top: 15%;
        }

        @media (max-width: 1000px) {
          left: 0;
        }

        @media (max-width: 680px) {
          top: 0;
          left: 0;
          width: 100%;
          max-height: 500px;
        }
      }
    }

    &__content {
      position: relative;
      padding: 60px 0 70px;
      max-width: 566px;
      margin-right: calc(140px - 70px);
      color: #000;

      @media (max-width: 1355px) {
        margin-right: unset;
        margin-left: 70px;
        padding: 60px 50px;
      }

      @media (max-width: 680px) {
        margin: 0;
        max-width: unset;
        padding: 60px 25px;
      }

      app-button {
        margin-top: 45px;
        margin-left: 46px;

        @media (max-width: 860px) {
          margin-left: unset;
        }
      }

      &__prop {
        position: absolute;
        width: 308px;
        left: calc(-220px - 154px);
        bottom: -74px;

        @media (max-width: 1355px) {
          left: -50%;
        }

        @media (max-width: 860px) {
          top: unset;
          left: unset;
          bottom: unset;
          position: relative;
          margin-bottom: 25px;
        }
      }

      &::after {
        z-index: -1;
        content: "";
        position: absolute;
        background-color: var(--color-green-light);
        border-radius: 14px;
        height: calc(100% - 95px);
        right: -70px;
        left: -220px;
        top: 0;

        @media (max-width: 1355px) {
          height: calc(100% - 85px);
          right: 0;
          left: 0;
        }

        @media (max-width: 1000px) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        @media (max-width: 860px) {
          top: 200px;
          height: calc(100% - 85px - 200px);
        }

        @media (max-width: 680px) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &__caption {
        font-size: 14px;
        letter-spacing: 2.1px;
      }

      &__title {
        margin-top: 8px;
        font-size: 2.25rem;
      }

      &__description {
        margin-top: 12px;
      }

      &__info {
        margin-left: 46px;
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        @media (max-width: 860px) {
          margin-left: unset;
        }

        &__item {
          display: flex;
          align-items: center;
          gap: 22px;
        }
      }
    }
  }
}
