@import "./styles/variables.scss";
@import "./styles/fonts.scss";
@import "./styles/typography.scss";
@import "./styles/util.scss";

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
