:host {
  display: block;
  width: fit-content;

  .inner {
    width: fit-content;
    padding: 1rem 40px;
    cursor: pointer;
    transition: background-color 0.3s var(--transition-normal);
    border-radius: 6px;

    &--dark {
      color: var(--color-light);
      background-color: var(--color-green-dark);

      &:hover {
        background-color: var(--color-blue-dark);
      }
    }

    &--light {
      color: var(--color-green-dark);
      background-color: #fff;

      &:hover {
        background-color: var(--color-light);
      }
    }

    &--ig {
      svg {
        * {
          transition: fill 0.1s var(--transition-normal);
        }
      }
    }

    &--outline {
      color: var(--color-green-dark);
      border: 1px solid var(--color-blue-dark);
      padding: unset;
      display: flex;

      .inner__label {
        padding: 15px;
        display: block;
      }

      .inner__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        border-left: 1px solid var(--color-blue-dark);
        transition: background-color 0.3s var(--transition-normal);

        img {
          transition: transform 0.3s var(--transition-normal);
        }

        @media (max-width: 480px) {
          display: none;
        }
      }

      &:hover {
        .inner__icon {
          img {
            transform: translateX(4px);
          }
        }

        &.inner--ig {
          .inner__icon {
            background-color: var(--color-blue-dark);
          }
          svg {
            * {
              fill: #fff;
            }
          }
        }
      }
    }

    &__label {
      white-space: nowrap;
      font-size: 13px;
      letter-spacing: 1.95px;
      text-transform: uppercase;
      user-select: none;
      font-weight: 900;

      @media (max-width: 480px) {
        font-size: 10px;
      }
    }
  }
}
